body{margin:0;padding:0; }
/*------------------헤더---------------------*/
header #nav_total{
  width:100%;
  background: black;
}
#nav_total ul{
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
  height:30px;
  line-height: 30px;
  padding:0;
}
#nav_total li{
  float: left;
  margin-left: 50px;
  list-style: none;
  font-size: 0.9em;
  color:white;
}
#nav_total li:hover{
  font-size:1.2em;
  font-weight: bold;
}
header #logo{
  width:100%;
  height: 350px;
  margin:60px auto;
  text-align: center;
}
#nav_hit{
  text-align: center;
  width:1000px;
  margin:0 auto;
  height: 30px;
}
#nav_hit ul{
  height: 30px;
  margin: 0;
}
#nav_hit li{
  float: right;
  list-style: none;
  padding:0px 20px 0px 20px;
  font-size: 1.2em;
  border:1px solid black;
}
#nav_hit li:nth-child(1){
  border-radius: 0px 10px 10px 0px;
}
#nav_hit li:nth-child(4){
  border-radius: 10px 0px 0px 10px;
}
#nav_menu{
  width:100%;
  border-top: 1px dashed #cccccc;
}
#nav_menu ul{
  width:1000px;
  margin:0 auto;
  height:50px;
  padding:0;

}
#nav_menu ul li{
  list-style: none;
  float:left;
  margin-left: 60px;
  text-align: center;
  line-height: 50px;
  font-size: 1.1em;
  font-weight: bold;
}
/*------------------본문---------------------*/
#first_banner{
  width:100%;
}
#first_banner .container1{
  width:1000px;
  height:400px;
  margin:0 auto;
  display: flex;
  border:1px solid #cccccc;
}
#first_banner .container1 .slide_banner{
    width:70%;
    border-right: 1px solid #cccccc;
}
#first_banner .container1 .side_banner{
    width:30%;
}

#second_banner{
  width:100%;
}
#second_banner div{
  margin:0 auto;
  width:1000px;
  height:400px;
}
#second_banner div ul{
  display: flex;
  list-style: none;
  padding:0;
  justify-content: space-around;
}
#second_banner div ul li{
  width:24%;
  height:400px;
  text-align: center;
  border:1px solid #cccccc;
}

footer{
  width:100%;
  margin-top:50px;
}
footer .container2{
  width:1000px;
  height: 250px;
 margin:0 auto;
}
footer .container2 div{
  float:left;
  text-align: center;
  border: 1px solid #cccccc;
  box-sizing:border-box;
  height: 250px;
}
footer .container2 div:nth-child(1){
  width:20%
}
footer .container2 div:nth-child(2){
  width:50%
}
footer .container2 div:nth-child(3){
  width:30%
}
.copyright{
  width:1000px;
  height:50px;
  line-height: 50px;
  text-align: center;
  margin:0 auto;
  background: black;
  color: white;
}
